
/*------------------------------------*\
  #MOVIES
\*------------------------------------*/

.movie {

  @include e(wrapper) {
    margin: 0 em(4px);

    @include breakpoint(tablet-portrait-up) {
      margin: 0 em(48px);
    }
  }

  @include e(tile) {
    background-color: $color-white;
    box-sizing: border-box;
    border: 1px solid palette(black, 300);
    margin-bottom: em(12px);
  }
  
  @include e(figure) {
    background: $color-white;
    height: em(144px);
    // width: em(260px);
    width: 100%;
    overflow: hidden;
    background-image: url('./assets/images/noimage-bg.jpg');
    background-size: cover;
    background-position: center center;

    @include breakpoint(tablet-portrait-up) {
      height: em(388px);
    }

    .progressive-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      @extend %transition;

      img {
        object-fit: cover;
        height: 100% !important;
      }


      &:hover {
        transform: scale(1.05); 
      }
    }
  }

  @include e(textWrapper) {
    padding: em(12px) em(16px);
  }

  @include e(title) {
    @include ms-respond(font-size, 5);
    line-height: em(28px, ms(5));
    font-family: $font-stack-condensed;
    font-weight: 400;
    color: palette(black, 800);
    margin-bottom: em(8px, ms(5));
    min-height: em(56px, ms(5));
  }

  @include e(details) {
    @include ms-respond(font-size, 0);
    font-weight: 300;
    line-height: em(22px, ms(0));
    color: palette(black, 700);
    max-height: em(22px, ms(0));
  }

  @include e(btn) {
    display: block;
    @include ms-respond(font-size, -1);
    font-family: $font-stack-condensed;    
    line-height: em(16px, ms(-1));
    background-color: $color-accent;
    color: $color-white;
    border-radius: em(8px, ms(-1));
    padding: em(6px, ms(-1)) em(24px, ms(-1)) em(6px, ms(-1)) em(10px, ms(-1));
    position: relative;
    margin-left: em(8px, ms(-1));

    &:hover {
      background-color: lighten($color-accent, 10%);
    }

    &::after {      
      @extend %transition;
      font-family: 'Material Icons';
      line-height: em(22px, ms(5));
      content: "keyboard_arrow_right";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: ms(5);
      z-index: 1;
      height: em(22px, ms(5));
      margin: auto;
      display: block;
      color: $color-white;
      pointer-events: none;
    }
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  @extend %transition;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(24px);
  opacity: 0;
}

