
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {

  @include e(wrapper) {
    background-color: $color-white;
    border: 1px solid palette(black, 300);
    margin: em(16px);
    padding: em(14px);
  }

  @include e(powered) {
    pointer-events: none;

    img {
      display: block;
      margin: em(12px) auto em(8px);

      @include breakpoint(tablet-portrait-up) {
        margin: 0 0 0 auto;
      }
    }
  }

  @include e(tabs) {

    .grid-x {
      justify-content: center;

      @include breakpoint(tablet-portrait-up) {
        justify-content: flex-end;
      }
    }
  }

  @include e(title) {
    @include ms-respond(font-size, 6);
    line-height: em(40px, ms(6));
    font-weight: 300;
    color: palette(black, 700);
    letter-spacing: em(.12px, ms(6));
  }

  @include e(select) {
    position: relative;

    select {
      @include ms-respond(font-size, 5);
      line-height: em(32px, ms(5));
      font-weight: 500;
      color: palette(black, 400);
      cursor: pointer;
      border: none;
      // padding: em(4px, ms(5));
      border-bottom: em(1px, ms(5)) solid $color-secondary;
      border-radius: 0;
      background-color: $color-white;
      -webkit-appearance: none;  

      // &::before {
      //   position: absolute;
      //   content: 'sfs';
      //   background-color: red;
      //   // font-family: 'Material Icons';
      //   top: 50%;
      //   right: em(24px, ms(5));
      //   transform: translateY(-50%);
      //   width: em(24px);
      //   height: em(24px);
      // }

      &:focus {
        outline: none;
      }
    }

    &:hover {

      &::after {
        transform: translateY(-2px);
      }
    }

    &::after {      
      @extend %transition;
      font-family: 'Material Icons';
      line-height: 1;
      content: "keyboard_arrow_down";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: em(40px);
      z-index: 1;
      height: em(32px, 32px);
      margin: auto;
      display: block;
      color: $color-secondary;
      pointer-events: none;
    }

  }

  @include e(availability) {
    @include ms-respond(font-size, 1);
    line-height: em(40px, ms(1));
    color: palette(black, 600);
    font-weight: 300;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: em(-4px, ms(1));
      height: em(2px, ms(1));
      left: 0;
      background-color: $color-secondary;
      width: 100%;
      max-width: 100%;  
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform $base-duration $base-timing;
      z-index: 1;
    }

    &:hover {
      color: palette(black, 800);

      &::after {
        transform: none;
        transform-origin: left center;
      }
    }

    @include m(pleca) {
      margin: 0 em(10px);
      font-weight: 300;
    }

    @include m(active) {
      color: palette(black, 800);
      font-weight: 400;

      &::before {
        position: absolute;
        content: '';
        bottom: em(-11px, ms(1));
        width: 0; 
        height: 0; 
        border-left: em(10px, ms(1)) solid transparent;
        border-right: em(10px, ms(1)) solid transparent;
        border-top: em(6px, ms(1)) solid $color-secondary;
        left: calc(50% - #{em(10px, ms(1))});
        transform: translateY(-50%);
      }

      &::after {
        transform: none;
        transform-origin: left center;
      }
    }
  }

}
