
/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/



/* Browser support fallbacks.
 ========================================================================== */



/**
 * Fonts face.
 */

@include font-face('Roboto', 'Roboto-Light', 300);
@include font-face('Roboto', 'Roboto-Regular', 400);
@include font-face('Roboto', 'Roboto-Medium', 500);
@include font-face('Roboto', 'Roboto-Bold', 700);

@include font-face('Roboto Condensed', 'RobotoCondensed-Light', 300);
@include font-face('Roboto Condensed', 'RobotoCondensed-Regular', 400);
@include font-face('Roboto Condensed', 'RobotoCondensed-Bold', 700);





/**
 * Fonts stacks.
 */

$stack-sans:        Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$stack-serif:       "Times New Roman", Times, serif !default;
$font-stack-sans:   "Roboto", $stack-sans; // Custom sans serif font.
$font-stack-condensed:  "Roboto Condensed", $stack-sans; // Custom condensed font.





/* Fonts.
 ========================================================================== */



/**
 * Modular scale.
 */

$modularscale: (
  base: 16px,
  ratio: $minor-second,
  a: (
    ratio: $minor-second
  ),
  640px: (
    base: 10.24px,
    ratio: $minor-second
  ),
  1024px: (
    base: 16px
  )
);



/**
 * Font properties.
 */

$base-font-size:      ms(0);
$base-line-height:    1.5;





/* Colors.
 ========================================================================== */


/**
 * Color defaults.
 */

$color-white:         #fff;
$color-grey:          #d5d5d5;
$color-base:          #263238;
$color-primary:       #4fc08d;
$color-secondary:     #f09d29;



/**
 * Color states.
 */

$color-accent:        #4A90E2;
$color-info:          #0076FF;
$color-success:       #44DB5E;
$color-alert:         #FE3824;
$color-warning:       #FFCD00;



/**
 * Color palette modifiers.
 */

$palettes: (
  black: (
    base:       $color-base,
    50:         #FAFAFA,
    100:        #F5F5F5,
    200:        #EEEEEE,
    300:        #E0E0E0,
    400:        #BDBDBD,
    500:        #9E9E9E,
    600:        #757575,
    700:        #616161,
    800:        #424242,
    900:        #212121
  )
);





/* Utilities.
 ========================================================================== */

/**
 * Animations.
 */

$base-duration:       .4s;
$base-timing:         cubic-bezier(0.215, 0.61, 0.355, 1);;



/**
 * Z-index list.
 */

$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;
$zindex-loading:           1080;
